/*Typography*/

/*Genrellt*/
* {
    font-family: 'Libre Baskerville', serif;
}

h1, h2, h3 {
    font-weight: bold;
}
a{
    text-decoration: none;
}

article p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}
.article-header{ 
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size:3rem;
    color:black;
}


/*Navbar*/

.navbtn{ 
    font-weight: bold;
    font-size: 1.5rem;
    color: black; 
}

.navbtn:hover {
    color: white; 
}
.active {
    color:white;
}

/*frontpage navbar special */
.fp-navbar a.navbtn {
    color:white;
}

/*footer*/

.footerbtn{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:black;
} 

label {
    font-family: 'Montserrat', sans-serif;
}
.footerOne h3 {
    font-size: 3rem;
}

/*headers*/ 

.pres-article, .kontakt-btn {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.kontakt-btn {
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
    color: white;
}

/* Extras n spice */

.spice-text  {
    font-style: italic;
    font-weight: normal;
    color: white; 
    font-size: 2.5rem;
}