
/*footer*/
/* Grid på wrappern, flex i kolumnerna.Borden är bara för att synliggöra start och slut. 
 vänter på rätt font och ikoner ska sättas in*/

 .footerWrapper{
    display: grid;
    grid-template-columns: 50% auto auto;
    width: 100%;
    height: 10em;
    border: 1px solid black;
}

.footerOne, .footerTwo , .footerThree {
    display: flex;
    flex-direction: column;
    margin-top:1em;
    margin-bottom: 1em;
}

.footerOne{
padding-left:2rem;
width: 100%;
}

.footerOne h3{
    padding-left:10px;
}
.linkedin-icon{
    padding-left: 1.5rem;
    margin-top:1.5rem;
    height:30px;
}

.facebook-icon{
    height:30px;
}

.footerTwo{

align-items: baseline;
}

.wrapperfooter-link{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;}


.footerbtn{
    text-decoration: none;
    color:black;
   
}



.footerThree{
justify-content: end;
}

.search{
    display: flex;
    flex-direction: column;
    position: relative;
}

input{
    border: 1px solid black;
    width:60%;
    height: 2em;
    padding-left:30px;
    color: black;
}



i{ 
    position: absolute;
    z-index: 10;
    padding-left:5px;
    padding-top:2px
}



/*footer end*/