.upper-container {
    width:100%;
    height:75vh;
    display:flex;
    justify-content:flex-start;
}

.left-side {
    width:35%;
    height:auto;
    margin-top:10rem;
    padding-left:15rem;
}

.left-side h1 {
    margin-bottom:1.5rem;
}


.right-side {
    height:auto;
    width:65%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    position:static;
}

#blobb {
    height:90%;
    position:absolute;
    left:40%;
}

#guyonthephone {
    height:37%;
    object-fit:contain;
    border-radius:5px;
    position:absolute;
    top:75%;
    left:53%;
}

.article-img{
    height:37%;
    object-fit:contain;
    border-radius:5px;
    position:absolute;
    top:75%;
    left:53%;
}

.right-side h2 {
    position:relative;
    margin-top:0.3rem;
    font-style:italic;
    font-size:2.5rem;
    top:75%;
    left:28%;
    color:white;
}

.middle-banner {
    margin-top:7rem;
    width:100%;
    height:500px;
    position:relative;
}

.middle-banner img {
    object-fit:cover;
    height:100%;
    width:100%; 
    opacity:85%;
}   

/*MAIN PROJEKT SIDAN*/
.upper-container-pro {
    width:100%;
    height: 65rem;
    display:flex;
    justify-content:flex-start;
}

.left-side-pro {
    width:40%;
    height:auto;
    display: flex;
    align-items: center;
}

/*article header */
.left-side-pro h1 {
    margin-bottom: 4rem;
}

.article-pro {
    margin-left:6rem;
}

/*lila blobb*/
#projekt-blobb {
    position: absolute;
    height:120%;
    left:40%;
}

/*höger bild i blob*/
#meeting-pic {
    height:57%;
    object-fit:contain;
    border-radius:5px;
    position:absolute;
    top:80%;
    left:53%;

}

.right-side-pro h2 {
    position:relative;
    margin-top:0.3rem;
    font-style:italic;
    font-size:2.5rem;
    top:72%;
    left:27%;
    color:white;
}


.middle-banner-pro {
    width:100%;
    height:500px;
    /*
    position: relative;
    */
}

/*middle banner projekt sidan*/
.middle-banner-pro img {
    object-fit:cover;
    height: 100%;
    width:100%; 
    opacity:85%;
} 

.overlay {
    
}

/*projekt kort*/
.kort-wrapper {
    width: 100%;
    height: 120rem;
    background-image: url("img/laptop_hands.jpg");
}

/*laltop bilden till korten*/
.laptop-pic {
    width: 68rem;
    height: 28rem;
    object-fit: cover;
    position: absolute;
    left: 35%;
    margin-top: 12.5rem;
    border-radius: 5px;
}

/*blob kort 1*/
.blob1-kort-pro {
    position: absolute;
    margin-top: 8rem;
    left: 44%;
}

.kort-text {
    width: 47rem;
    height: 19rem;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: 17rem;
}

.kort-text > p {
    font-family: 'Montserrat', sans-serif;
}

.kort-head {
    font-size: 2rem;
    margin: 2rem;
    font-family: 'Montserrat', sans-serif
}

.kort-info {
    margin: 0 2rem 2rem 2rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif
}

.kort-footer {
    margin: 0 0 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/*projekt kort 2*/

/*laltop bilden till korten*/
.laptop-pic2 {
    width: 68rem;
    height: 28rem;
    object-fit: cover;
    position: absolute;
    left: 10%;
    border-radius: 5px;
    margin-top: 70rem;
}

/*blob kort 1*/
.blob1-kort-pro2 {
    position: absolute;
    margin-top: 8rem;
    left: 24%;
    margin-top: 67.5rem;
}

/**/
.kort-text2 {
    width: 47rem;
    height: 19rem;
    background-color: white;
    position: absolute;
    left: 26%;
    margin-top: 74rem;
}