
.navbar {
    width: 100%;
    height: 4.9rem;
    display: flex;
    align-items: center;
    padding-left:1rem;
}

/*Första knappen*/
.navbtn-first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Sista knappen*/
.navbtn-last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Navbar knappar*/
.navbtn-first, .navbtn, .navbtn-last {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    transition: 1s;
}

/*Navbar knappar hover*/
.navbtn-first:hover, .navbtn:hover, .navbtn-last:hover {
    color: white;
    background-color: #000AFF;
    height: 3.1rem;
    transition: 1s;
}

/* linjer mellan knapparna*/
.lines-nav {
    height: 3.1rem;
    width: 3px;
    background-color: #000AFF;
    border-radius: 3px;
    transition: .5s;
}

/*Linjer för navbaren i start sidan*/
.lines-nav-start {
    height: 3.1rem;
    width: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 1s;
}


